.mypage-edit
  .mypage-edit__container  
    %h2 アカウントの編集
    = form_with model: @user, local: true do |f|
      .field-edit
        .field-label
          = f.label :アカウント名
        .field-edit-input
          = f.text_field :name, autofocus: true
      .field-edit
        .field-label
          = f.label :アカウント画像
        .field-edit-input
          = f.file_field :image
      .field-edit
        .field-label
          = f.label :email
        .field-edit-input
          = f.email_field :email
      .field-edit
        .field-label
          = f.label :プロフィール
        .field-edit-input-profile
          = f.text_area :profile
      
      .actions-edit
        = f.submit "編集", class: 'edit-btn'

    =link_to 'マイページに戻る', user_path(current_user.id), class: "new-btn"
