.post-edit
  = form_with model: @post, local: true do |f|
    - if @post.errors.any?
      .group-form__errors
        %h2= "#{@post.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @post.errors.full_messages.each do |message|
            %li= message

    .post-edit__form
      %label.post-edit-title 記事の編集
      .post-edit__label
        = f.label :記事タイトル
        .field-edit-input
          = f.text_field :title, class: 'post-edit__input', placeholder: '記事のタイトルを編集'
      .post-edit__label
        = f.label :トップ画像
        .field-edit-input
          = f.file_field :image, class: 'post-edit__input-image'
      .post-edit__label
        = f.label :記事の内容
        .field-edit-input
          = f.text_area :content, class: 'post-edit__input-content', placeholder: '記事内容を編集'
      

      .post-edit__submit
        = f.submit class: 'group-form__action-btn'
        .back-btn
          = link_to '※記事に戻る', @post
          = link_to '※一覧に戻る', posts_path