.main-show-all
  = form_for @post do |f|
    - if @post.errors.any?
      .group-form__errors
        %h2= "#{@post.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @post.errors.full_messages.each do |message|
            %li= message

    .post-new-form
      %p.post-new-form__label 記事の新規作成
      %p.post-new-form__top ↓トップ画像選択↓
      = f.file_field :image, class: 'post-new-form__input-image'
      = f.text_field :title, class: 'post-new-form__input', placeholder: '記事のタイトルを入力してください'
      %p.post-show-border ----------------------------------------------
      = f.text_area :content, class: 'post-new-form__input-content', placeholder: '記事内容を入力してください'
      %p.post-show-border ----------------------------------------------

    .post-new-form-submit
      = f.submit "新規投稿", class: 'group-form__action-btn new-submit'

      =link_to '一覧に戻る', posts_path, class: "new-btn"